br {
    line-height: 100%;
 }
   .inline {
   display: inline;
 }

 .navbar-brand {
   background: none;
   border: none;
 }
 
 .link-button {
   background: none;
   border: none;
   color: black;
   cursor: pointer;
   font-size: 1em;
   font-family: serif;
 }
 .link-button:focus {
   outline: none;
 }
 .link-button:active {
   color:red;
 }
 